.bungkus{
  background:   #FFFFFF;
    color: #000;
    margin: 70px;
    margin-right: 70px;
    padding: 10px;
}
.row{
	 background:   #FFFFFF;
    color: #000;
    margin: auto;
   
    padding: 10px;
    
    
}